---
import { Image } from "astro:assets";

import ilikecomputer from "./ilikecomputer.png";
import lain from "./lain.gif";
import miku from "./miku.gif";
import internetarchive from "./internetarchive.gif";
import jquery from "./jquery.gif";
import buyit from "./buyit.gif";
---

<ul class="grid grid-cols-3 gap-1">
  <li>
    <Image src={ilikecomputer} alt="I LIKE COMPUTER" width={88} height={31} />
  </li>

  <li>
    <Image src={lain} alt="Lain" width={88} height={31} />
  </li>

  <li>
    <Image src={miku} alt="this site is MIKU APPROVED" width={88} height={31} />
  </li>

  <li>
    <Image src={jquery} alt="jQuery is evil!" width={88} height={31} />
  </li>

  <li>
    <Image src={buyit} alt="MUG ROOT BEER" width={88} height={31} />
  </li>

  <li>
    <a href="https://archive.org/" target="_blank">
      <Image
        src={internetarchive}
        alt="Internet Archive"
        width={88}
        height={31}
      />
    </a>
  </li>

  <li>
    <a href="https://www.tanguy.cyou/">
      <img
        src="https://www.tanguy.cyou/assets/img/links/button.webp"
        alt="tanguy.cyou"
        width="88px"
        height="31px"
      />
    </a>
  </li>

  <li>
    <a href="https://www.melody.my.id/" target="_blank">
      <img
        src="https://melodies.neocities.org/image/button/melody.png"
        alt="Melody Hot Springs"
        width="88px"
        height="31px"
      />
    </a>
  </li>

  <li>
    <a href="https://dimden.dev/" target="_blank">
      <img
        src="https://dimden.dev/services/images/88x31.gif"
        alt="DIMDEN"
        width="88px"
        height="31px"
      />
    </a>
  </li>

  <li>
    <a href="https://melankorin.net/" target="_blank">
      <img
        src="https://melankorin.net/assets/img/buttons/button-1.gif"
        alt="melankorin"
        width="88px"
        height="31px"
      />
    </a>
  </li>
</ul>
