---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

import "@fontsource/cute-font";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/icon-192.png" />

    <meta property="og:image" content="/icon-192.png" />
    <meta property="og:image:width" content="192" />
    <meta property="og:image:height" content="192" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="kayh.dev" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@kayh_online" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/icon-192.png" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="bg-black text-white text-2xl leading-tight overflow-hidden">
    <slot />
  </body>
</html>
<style>
  body {
    font-family: "Cute Font", sans-serif;
  }
</style>
